# History files 
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user
*.Rproj

# Connection that stores calls to search.ergmTerms
NUL


#shinyapps files
shinyapps/
inst/shiny/rsconnect

.DS_Store
inst/shiny/WPROACM/.atexfile
*.220424
*.230126
inst/shiny/WPROACM/global.R.new
inst/shiny/WPROACM/server.R.mark
inst/shiny/WPROACM/global.R.more
inst/shiny/WPROACM/XLSX/~$Australia_built_in_data.xlsx
inst/shiny/WPROACM/XLSX/~$Japan_built_in_data.xlsx
inst/shiny/WPROACM/XLSX/~$New_Zealand_built_in_data.xlsx
inst/shiny/WPROACM/XLSX/~$Philippines_built_in_data.xlsx
